tensorflow==2.14.0
opencv-python==4.9.0.80
matplotlib
scikit-learn
imutils
bs4
imgaug
pandas
torch
torchvision==0.17.1
lmdb
tqdm
yapf
pyyaml
scipy
tb-nightly
openpyxl
st_pages
thop
imageio
pycocotools
onnxsim
onnxruntime
openvino
loguru
albumentations